.newProduct{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
.newProduct input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
